---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   12px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.2;

$spacing-unit:     26px;

$text-color:       #000;
$background-color: #fff;
$brand-color:      #000;

$grey-color:       #000;
$grey-color-light: #000;
$grey-color-dark:  #000;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// redefining media-query mixin from main.scss and making it a no-op for print.
@mixin media-query($device) {
    if false { @content; }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;



// hide things we don't want to see in print
.resume-footer, .site-footer {
    display: none;
}

// .resume-wrap {
//     // push PlumRiver onto page 2
//     h3:nth-of-type(2) {
//         page-break-before: always;
//         padding-top: $spacing-unit;
//     }
// }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}



li {
    margin-bottom: 4px;
}
